
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Your account</h2>

@model OnlineQuiz.Models.USER
<div class="form-group">
    @Html.LabelFor(model => model.UNAME, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>@Model.UNAME</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.FNAME, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>@Model.FNAME</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.FNAME, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>@Model.FNAME</div>
</div>
@{
    if (ViewBag.createdQuestions.Length > 0)
    {
        foreach (OnlineQuiz.Models.QUESTION createdQuestion in ViewBag.createdQuestions)
        {
            <div class="form-group">
                <div>@createdQuestion.CATEGORY.TITLE</div>
                <div>:</div>
                <div>@createdQuestion.TITLE</div>
            </div>
        }
    }
    else
    {
        <div>No created questions</div>
    }
}

@{
    if (ViewBag.answeredQuestions.Length > 0)
    {
        foreach (OnlineQuiz.Models.USER_ANSWER answer in ViewBag.answeredQuestions)
        {
            <div class="form-group">
                <div class="control-label col-md-2">@answer.QUESTION.TITLE : @(answer.CORR_ANS ? "Correct" : "Wrong") </div>
            </div>
        }
    }
    else
    {
        <div>No answered questions</div>
    }
}
