
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your account</h2>

@model OnlineQuiz.Models.UserProfile

<div class="form-group">
    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>@Model.Username</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>@Model.Firstname</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>@Model.Lastname</div>
</div>
@{
    if (Model.CreatedQuestions.Length > 0)
    {
        foreach (OnlineQuiz.Models.QUESTION createdQuestion in Model.CreatedQuestions)
        {
            <div class="form-group">
                <div>@createdQuestion.CATEGORY.TITLE</div>
                <div>:</div>
                <div>@createdQuestion.TITLE</div>
            </div>
        }
    }
    else
    {
        <div>No created questions</div>
    }
}

@{
    if (Model.AnsweredQuestions.Length > 0)
    {
        foreach (OnlineQuiz.Models.USER_ANSWER answer in Model.AnsweredQuestions)
        {
            <div class="form-group">
                <div class="control-label col-md-2">@answer.QUESTION.TITLE : @(answer.CORR_ANS ? "Correct" : "Wrong") </div>
            </div>
        }
    }
    else
    {
        <div>No answered questions</div>
    }
}



